*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.titulo1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

/* header */

header{
    width: 100%;
    height: 600px;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #0000006e), url(../img/portada2.jpg); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #0000006e), url(../img/portada2.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 10px 50px 0 0;
}

nav > a{
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    margin-left: 40px;
}

nav > a:hover{
    color:rgb(0, 0, 0);
    font-weight: 150;
    text-decoration: none;
    background-color: rgb(0, 216, 83);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenido-indice{
    position: relative;
    width: 100%;
    height: 200px;
    top: 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/*osi*/

.contenedor-osi{
    background-color: rgb(19, 19, 19);
}

.introduccion h2{
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

.introduccion p{
    color: white;
    margin: 20px;
    justify-content: center;
    text-align: justify;
}

.contenedor-capas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-capas .content-capa{
    background: rgb(255, 255, 255);
    display: flex;
    width: 40%;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.5);
}

.contenedor-capas .content-capa h3{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 18px;
    padding: 5px;
}

.contenedor-capas .content-capa p{
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
    text-align: justify;
}

.imagen-osi{
    width: 90%;
}

/*tcp*/

.content-tcp{
    display: flex;
    justify-content: space-evenly;
}

.imagen-tcp{
    width: 48%;
}

.content-tcp .contenido-texto{
    width: 48%;
}

.contenido-texto h3{
    margin-bottom: 15px;
}

.contenido-texto h3 span{
    background: rgb(0, 216, 83);
    color: black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*ieee*/

.contenedor-802{
    background-color: rgb(19, 19, 19);
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: rgb(0, 216, 83);
    display: flex;
    width: 30%;
    height: 400px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.cards .card > .contenido-cards{
    width: 80%;
    color: white;
}

.cards .card > .contenido-cards h4{
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.cards .card > .contenido-cards p{
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
}

/*protocolo*/

.galeria-info{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.galeria-info .card-dev{
    background: rgb(0, 216, 83);
    display: flex;
    width: 24%;
    height: 200px;
    margin-right: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: hsl(0, 0%, 5%);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color: rgb(0, 216, 83);;
}

.card-dev:hover .hover-galeria{
    transform: scale(0);
}

/*footer*/

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}